@model IEnumerable<PerformanceAPI.Models.ActualsSummaryReportModel>

@{
    ViewData["Title"] = "ActualSummary";
}

<h1>Actuals Summary</h1>

@{
    double usedBudget = 0;
    int employeesWithActuals = 0;
    foreach (var item in Model)
    {
        usedBudget += item.Salary;
        employeesWithActuals++;
    }
    CurrentUserModel.CurrentBudgetUsed = Convert.ToInt32(usedBudget);
    CurrentUserModel.NumberOfEmployeesWithActuals = employeesWithActuals;

    @if (CurrentUserModel.CurrentBudge - CurrentUserModel.CurrentBudgetUsed < 0)
    {
        CurrentUserModel.overBudgetAmount = CurrentUserModel.CurrentBudge - CurrentUserModel.CurrentBudgetUsed;
    }
}

<p class="hidden-data" id="current-budget">@CurrentUserModel.CurrentBudge</p>
<p class="hidden-data" id="used-budget">@CurrentUserModel.CurrentBudgetUsed</p>
<p class="hidden-data" id="employees-done">@CurrentUserModel.NumberOfEmployeesWithActuals</p>
<p class="hidden-data" id="employees-total">@CurrentUserModel.NumberOfEmployees</p>

<table id="predictions-report-charts">
    <tr>
        <td>
            @if (CurrentUserModel.overBudgetAmount < 0)
            {
                <h3>You are overbudget by:</h3>
                <h3>@CurrentUserModel.GetFormattedOverBudgetAmount()</h3>
            }
            else
            {
                <div id="budget-chart"></div>
            }
        </td>
        <td><div id="actuals-chart"></div></td>
    </tr>
</table>

<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeFirstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeMiddleInitial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PerformanceRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentPosition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PositionAfterReview)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupervisorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfReview)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeFirstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeMiddleInitial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerformanceRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentPosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PositionAfterReview)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupervisorID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfReview)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/BudgetPirChart.js"></script>
<script src="~/js/ActualsDoneChart.js"></script>