@model IEnumerable<PerformanceAPI.Models.ProjectionsModel>
@{
    ViewData["Title"] = "Projections";
}
<script src="~/js/Projections.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/css/Projections.css" />

<h1>Projections</h1>

<h2>Enter Projections</h2>
@await Component.InvokeAsync("Position")
<div>
    @foreach (var item in Model)
    {
    <table class="individualProjection" style="width:1050px">
        <tr>
            <td style="width: 0px;"> </td>
            <td class="empNameDetails">@Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.EmployeeID)</td>
            <td class="details">@Html.DisplayFor(modelItem => item.SalaryFlag): $@Html.DisplayFor(modelItem => item.EmployeeCurrentSalary)</td>
            <td> </td>
        </tr>
        <tr>
            <td style="width: 0px;"> </td>
            <td class="details">Projected Position: <input type="text" placeholder="@Html.DisplayFor(modelItem => item.CurrentPosition)" /></td>
            <td class="details">Projected % Pay Increase:<input type="text" /></td>
            <td class="details"> Projected Performance Rating:<input type="text" /></td>
        </tr>
    </table>
    <table class="comments" style="width:1050px">
        <tr style="height: 10px;">
            <td><input type="text" style="height: 40px; width: 1000px" placeholder="Comments"/> </td>
        </tr>
    </table>
        
    }

</div>
